In [4]:
print("Hello Python!")

#disable soft space feature
print('H','e','l','l','o',sep = '')

#end argument
print("Hello",end = '@')
print("Python")

Hello Python!
Hello
Hello@Python

In [18]:
#python is dynamically typed language - data type is based on value assigned

a = 3
print(f"a: {a} & type of a: {type(a)}")

a = 10.5
print(f"a: {a} & type of a: {type(a)}")

a = "Katty"
print(f"a: {a} & type of a: {type(a)}")

letter = "Z"
print(f"letter: {letter} & type of letter: {type(letter)}")

z = 3 + 4j
print(f"z: {z} & type of {type(z)}")

a: 3 & type of a: <class 'int'>
a: 10.5 & type of a: <class 'float'>
a: Katty & type of a: <class 'str'>
letter: Z & type of letter: <class 'str'>
z: (3+4j) & type of <class 'complex'>

In [ ]:
#list is a mutable data structure (items cam be added after list creation)

list1 = ["rose", 32, 55.5, "medium"]
print(list1)

print("first element:",list1[0])

print("first 3 elements:",list1[0:3])

print("backward list:",list1[::-1])

['rose', 32, 55.5, 'medium']
first element: rose
first 3 elements: ['rose', 32, 55.5]
backward list: ['medium', 55.5, 32, 'rose']

In [ ]:
#Arithmetic operators

a = 11
b = 5

print("a + b = ",a+b)
print("a - b = ",a-b)
print("a * b = ",a*b)
print("a / b = ",a/b)
print("a // b = ",a//b)
print("a % b = ",a%b)

a + b =  16
a - b =  6
a * b =  55
a / b =  2.2
a // b =  2
a % b =  1

In [ ]:
#Relational operators

a = 13
b= 33

print(a > b)
print(a < b)
print(a == b)
print(a >= b)
print(a <= b)

False
True
False
False
True

In [ ]:
#logical operator

a = True
b = False

print("a and b =",a and b)
print("a or b =",a or b)
print("not a =",not a)

a and b = False
a or b = True
not a = False

In [17]:
#Bitwise operator

a = 16
b = 2

print("a & b =",a & b)
print("a | b =",a | b)
print("a ^ b =",a ^ b)
print("~a =",~a)
print("a << b =",a << b)
print("a >> b =",a >> b)

a & b = 0
a | b = 18
a ^ b = 18
~a = -17
a << b = 64
a >> b = 4

In [ ]:
#special operators

a = "LifeIsGood"
b = "LifeOfPie"

#1. Identity operator
print(a is not b)
print(a is b)

#2. Membership operator
print("Is" in a)
print("At" not in b)

True
False
True
True

In [ ]:
"""
Python Data Types:
1. Numeric - Integer
2. Sequence - Strings, Tuple, List
3. Dictionary
4. Boolean
5. Set
"""

#updation/deletion not allowed in string(immutable)
string = "Russia"

print(string[0])
print(string[-1])

R
a

In [18]:
items = ['Bread', 'Butter', ['Apple', 'Mango']]
print(items)

items.append('Jam')
print(items)

items[2].insert(0, 'Banana')
items.insert(2, 'Milk')
print(items)

items.extend(['Dosa', 'Idli'])
print(items)

print(items[-1])

items.remove('Milk')
print(items)

items.pop()
print(items)

['Bread', 'Butter', ['Apple', 'Mango']]
['Bread', 'Butter', ['Apple', 'Mango'], 'Jam']
['Bread', 'Butter', 'Milk', ['Banana', 'Apple', 'Mango'], 'Jam']
['Bread', 'Butter', 'Milk', ['Banana', 'Apple', 'Mango'], 'Jam', 'Dosa', 'Idli']
Idli
['Bread', 'Butter', ['Banana', 'Apple', 'Mango'], 'Jam', 'Dosa', 'Idli']
['Bread', 'Butter', ['Banana', 'Apple', 'Mango'], 'Jam', 'Dosa']

In [21]:
#Tuples - ordered collection of objects - immutable
elements = ('Copper','Bronze','Silver',1)
print(elements)
print(elements[0])

items = ['Bread', 'Butter', 'Jam']
print(tuple(items))

('Copper', 'Bronze', 'Silver', 1)
Copper
('Bread', 'Butter', 'Jam')

In [32]:
#Set - unordered collection - mutable & no duplicates
set1 = {"Monday", "Tuesday", "Monday"}
print(set1)

set1 = set("Banana")
print(set1)

set2 = set(["Bread", "Toast", "Bread"])
print(set2)

set2.add(("Cake", "Tea"))
print(set2)

set2.update([1, 2])
print(set2)

set2.remove("Toast")
print(set2)

set2.remove(("Cake", "Tea"))
print(set2)

print(set2.pop())

{'Monday', 'Tuesday'}
{'n', 'a', 'B'}
{'Bread', 'Toast'}
{('Cake', 'Tea'), 'Bread', 'Toast'}
{1, 2, 'Bread', ('Cake', 'Tea'), 'Toast'}
{1, 2, 'Bread', ('Cake', 'Tea')}
{1, 2, 'Bread'}
1

In [43]:
#Dictionary - unordered collection of data values - Mutable

dict1 = {"Name": "Elle", 1: [1, 2, 3, 4], 2: ["Dr", "Player"]}
print(dict1)

#Nested dictionary

dict2 = {1: "Save", 2: "Water", 3: {'A': 100, 'B': 10}}
print(dict2)

#Add
dict2[4] = "Ecology"

#update
dict2[2] = "Earth"
print(dict2)

print(dict1["Name"])

print(dict2.get(3))

print(dict2.pop(1))
print(dict2)

dict2.popitem()
print(dict2)

{'Name': 'Elle', 1: [1, 2, 3, 4], 2: ['Dr', 'Player']}
{1: 'Save', 2: 'Water', 3: {'A': 100, 'B': 10}}
{1: 'Save', 2: 'Earth', 3: {'A': 100, 'B': 10}, 4: 'Ecology'}
Elle
{'A': 100, 'B': 10}
Save
{2: 'Earth', 3: {'A': 100, 'B': 10}, 4: 'Ecology'}
{2: 'Earth', 3: {'A': 100, 'B': 10}}

In [ ]:
for i in range(5):
    print(i, end=" ")
print()

for i in range(1, 6):
    print(i, end=" ")
print()

#step of 3
for i in range(0,9,3):
    print(i, end=" ")

0 1 2 3 4
1 2 3 4 5
0 3 6

In [ ]:
#loop control statements - change execution from its normal sequence

word = "Channel"

for i in word:
    if i == 'n' or i =='l':
        break
    print(i, end= " ")
print()

for i in word:
    if i == 'n' or i =='l':
        continue
    print(i, end= " ")
print()

for i in word:
    if i == 'n' or i =='l':
        pass
    print(i, end= " ")
print()

C h a
C h a e
C h a n n e l